

.account-icons-holder{
    position: relative;
}

.keyboard-arrow-up{
    position: absolute;
    font-size: 15px;
    bottom: -8px;
    right: -8px;    
}

.is-active-style .keyboard-arrow-up{
    transform: rotate(180deg);

}
.is-active-style .account-circle , .is-active-style .keyboard-arrow-up{
    color: var(--outlined-color) !important;

}

