:root {

  --light-color: #fbfcff;
  --dark-color: #6C63FF;
  --black-color:#4a4a4a;
  --outlined-color: rgb(28, 9, 155);

}

.main--bg--color {
  background-color: var(--light-color) !important;
}
.dark--bg--color {
  background-color: var(--dark-color) !important;
}

.light--text--color{
  color: var(--light-color) !important;
}
.black--text--color{
  color: var(--black-color) !important;
}
.dark--text--color{
  color: var(--dark-color) !important;
}
.outlined--text--color {
  color: var(--outlined-color) !important;
}

