.circles {
    position: absolute;
    top: 0px;
    left: 0px;
    height: calc(100% + 150px);
     width: 100%;
     opacity: 0.1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("./assets/svg/blob-scatter-haikei.svg");

}
